.DS_Store

*.sqlite*

node_modules


.idea
.venv/*

Pipfile
Pipfile.lock

__pycache__
.pytest_cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

test_results

*.bkp
server/web_lambda/dist/*
